{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    <style>
        .main-inputs-form {
            text-align: center;
        }

        .main-inputs-button {
            margin-bottom: 1rem;
        }

        .login-header {
            color: white;
        }

        .inactive {
            margin-bottom: 30px;
        }
    </style>
{% endblock %}

{% block content %}
    <main class="main">
        <div class="container">
            <div class="row ">
                <div class="col">
                    <div class="row main-header text-right">
                        <div class="col">
                            <span>R</span>eset  <span>P</span>assword
                        </div>
                    </div>
                </div>
            </div>
            {% if form.errors %}
                {% for field in form %}
                    {% if field.errors %}
                        {% for eror in field.errors %}
                            <div class="row justify-content-center inactive">
                                <div class="login-header">{{ field.name }}: {{ eror | lower }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% if  form.non_field_errors%}
                    <div class="row justify-content-center inactive">
                        <div class="login-header">Your account could be inactive.</div>
                    </div>
                    <div class="row justify-content-center inactive">
                        <div class="login-header">{{ form.non_field_errors }}</div>
                    </div>
                {% endif %}
            {% endif %}
            <div class="row main-inputs justify-content-center">
                <form class="main-inputs-form" id="login" method="post">
                    <input name="new_password1" type="password" class="main-input main-input-mini info-input login-space"
                           placeholder="New password">
                    <input name="new_password2" type="password" class="main-input main-input-mini info-input login-space"
                           placeholder="Repeat password">
                    {% csrf_token %}
                    <div class="login-space">
                        <button type="submit" class="btn btn-primary main-inputs-btn main-inputs-button">RESET</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}