{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block  head %}
    <link rel="stylesheet" href="{% static "css/tournaments.css" %}">
	<link rel="stylesheet" href="{% static "css/games-cards.css" %}">
	<style>
		.profile-btns {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.profile-header {
			margin-right: 0;
			margin-bottom: 0;
		}
	</style>
{% endblock %}
{% block content %}
    <div class="justify-content-end btn-position">
        <button type="submit" class="btn btn-primary main-inputs-btn ">Main</button>
        <button type="submit" class="btn btn-primary main-inputs-btn ">Log out</button>
    </div>
    <main class="main-tour">
        <div class="row main-header text-right">
            <div class="col">
                <span>P</span>rofile settings
            </div>
        </div>
        <div class=" menu-description">
            <div class="row justify-content-between align-items-center pubg-info">
                <div class="col d-flex align-items-center">
                    <div class="teams-icon-1 post icon-pos">
                        <input type="file" class="form-control-file">
                        <img src="{% static "img/plus.png" %}" width="30px" height="30px" alt=""><br><br> Upload avatar
                    </div>
                    <!-- <img class="pubg-photo" src="img/PhotoFrame.png" alt="photo"> -->
                </div>
            </div>
            <ul>
                <li class="user-info">Tag</li>
                <li class="user-info">Username</li>
                <li class="user-info">Email</li>
                <li class="user-info">Phone number</li>
            </ul>
            <ul class="descr-color">
                <li class="user-info" type="tag">#FV23GG7</li>
                <li class="user-info" type="username"> {{ user.username }}</li>
                <li class="user-info" type="email"> {{ user.email }}</li>
                <li class="user-info" type="number">{{ user.account.phone_number }}</li>
            </ul>
        </div>
        <div class="profile-btns">
            <form action="{% url 'edit_profile' %}">
                <button type="submit" class="btn btn-primary main-inputs-btn edit-btn">Edit</button>
            </form>
            <form action="">
                <button type="submit" class="btn btn-primary main-inputs-btn tour-btn">My Tournaments</button>
            </form>
        </div>
        <div class="row main-header justify-content-center profile-header">
			<span>F</span>avorites
        </div>
        
		<div class="games-cards">
			<div class="game-card game-card-0">
				<div class="game-card-title">
					PUBG
				</div>
				<div class="game-card-desc">
					<div class="game-card-type">
						Tonight battle 5x5 with crisps
					</div>
					<div class="game-card-date">
						12 December
					</div>
				</div>
			</div>
			<div class="game-card game-card-1">
				<div class="game-card-title">
					CS:GO
				</div>
				<div class="game-card-desc">
					<div class="game-card-type">
						Tonight battle 5x5 with crisps
					</div>
					<div class="game-card-date">
						12 December
					</div>
				</div>
			</div>
			<div class="game-card game-card-2">
				<div class="game-card-title">
					Brawl Stars
				</div>
				<div class="game-card-desc">
					<div class="game-card-type">
						Tonight battle 5x5 with crisps
					</div>
					<div class="game-card-date">
						12 December
					</div>
				</div>
			</div>
			<div class="game-card game-card-3">
				<div class="game-card-title">
					CoD
				</div>
				<div class="game-card-desc">
					<div class="game-card-type">
						Tonight battle 5x5 with crisps
					</div>
					<div class="game-card-date">
						12 December
					</div>
				</div>
			</div>
			<div class="game-card game-card-4">
				<div class="game-card-title">
					Clash of clans
				</div>
				<div class="game-card-desc">
					<div class="game-card-type">
						Tonight battle 5x5 with crisps
					</div>
					<div class="game-card-date">
						12 December
					</div>
				</div>
			</div>
			<div class="game-card game-card-5">
				<div class="game-card-title">
					PUBG Mobile
				</div>
				<div class="game-card-desc">
					<div class="game-card-type">
						Tonight battle 5x5 with crisps
					</div>
					<div class="game-card-date">
						12 December
					</div>
				</div>
			</div>
			<div class="game-card game-card-6">
				<div class="game-card-title">
					Dota 2
				</div>
				<div class="game-card-desc">
					<div class="game-card-type">
						Tonight battle 5x5 with crisps
					</div>
					<div class="game-card-date">
						12 December
					</div>
				</div>
			</div>
			<div class="game-card game-card-7">
				<div class="game-card-title">
					CS:GO
				</div>
				<div class="game-card-desc">
					<div class="game-card-type">
						Tonight battle 5x5 with crisps
					</div>
					<div class="game-card-date">
						12 December
					</div>
				</div>
			</div>
		</div>

    </main>
{% endblock %}