{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block  head %}
    <link rel="stylesheet" href="{% static "css/tournaments.css" %}">
    <link rel="stylesheet" href="{% static "css/games-cards.css" %}">
    <style>
        .profile-btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .profile-header {
            margin-right: 0;
            margin-bottom: 0;
        }

        .space {
            margin-left: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="justify-content-end btn-position">
        <form action="{% url 'index' %}">
            <button type="submit" class="btn btn-primary main-inputs-btn  ">Main</button>
        </form>
        <form action="{% url 'logout' %}">
            <button type="submit" class="btn btn-primary main-inputs-btn space ">Log out</button>
        </form>

    </div>
    <main class="main-tour">
        <div class="row main-header text-right">
            <div class="col">
                <span>P</span>rofile settings
            </div>
        </div>
        <div class=" menu-description">
            <div class="row justify-content-between align-items-center pubg-info">
                <div class="col d-flex align-items-center">
                    <button class="orginize game-card game-card-0 game-add teams-icon-1 post icon-pos {{ user.username }}">
                        <div class="post icon-pos">
                            <style>
                                    .{{ user.username }} {
                                        background:  {% if user.account.photo %}url("{{ user.account.photo.url }}"){% else %}url("{% static 'img/default_avatar.png' %}"){% endif %} center 0;
                                        background-size: cover;
                                    }
                            </style>
                        </div>
                    </button>

                    <!-- <div class="teams-icon-1 post icon-pos">
                        <input type="file" class="form-control-file">
                        <img src="{% static "img/plus.png" %}" width="30px" height="30px" alt=""><br><br> Upload avatar
                    </div> -->
                    <!-- <img class="pubg-photo" src="img/PhotoFrame.png" alt="photo"> -->
                </div>
            </div>
            <ul>
                <li class="user-info">Username</li>
                <li class="user-info">Email</li>
                <li class="user-info">Phone number</li>
            </ul>
            <ul class="descr-color">
                <li class="user-info" type="username"> {{ user.username }}</li>
                <li class="user-info" type="email"> {{ user.email }}</li>
                <li class="user-info" type="number">{{ user.account.phone_number }}</li>
            </ul>
        </div>
        <div class="profile-btns">
            <form action="{% url 'edit_profile' %}">
                <button type="submit" class="btn btn-primary main-inputs-btn edit-btn">Edit</button>
            </form>
            <form action="{% url 'user-tournaments' %}">
                <button type="submit" class="btn btn-primary main-inputs-btn tour-btn">My Tournaments</button>
            </form>
        </div>

    </main>
{% endblock %}