{% extends "base.html" %}
{% load static %}
{% block title %}Add team{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static "css/tournaments.css" %}">
<style>
	.team-block {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.main-header {
		margin-right: 0;
	}
</style>
{% endblock %}

{% block content %}
<main class="main-tour">
	<div class="row main-header justify-content-end">
		<span>C</span>reate Team
	</div>
	<div class="team-block">
		<div class="team-block-1">
			<input type="text" class="main-input-game  info-input" placeholder="Team name">
			<select class="main-select " size="1">
				<option class="main-option" disabled selected>Choose a game...</option>
				<option>PUGB Mobile</option>
				<option>CS:GO</option>
				<option>Dota 2</option>
			</select>
		</div>
		<div class="team-block-2">
			<div class="main-inputs-file-game">
				<input type="file" class="form-control-file">
			</div>
			<div class="form-group">
				<input type="text" class="main-input-comment" placeholder="Description for your Comments ...">
			</div>
		</div>
		<button type="submit" id="myBtn" class="btn-primary main-inputs-btn">Create</button>
	</div>
	
</main>
{% endblock %}