{% extends "base.html" %}
{% load static %}
{% block title %}Search{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/games-cards.css" %}">
    <main class="search-main">
        <div class=" text-posit">
            <span>S</span>earch
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <form action=".">
                    <div class="form-group d-flex ">
                        <input name="name" type="text" class="main-input main-search info-input"
                               placeholder="Search ... ">
                        <select name="game" class="main-select game-select-1" size="1">
                            <option class="main-option" disabled selected>Game</option>
                            <option>PUBG Mobile</option>
                            <option>CS:GO</option>
                            <option>DOTA 2</option>
                        </select>
                        <input name="date" class="main-select main-data" type="date"
                               id="example-date-input">
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary search-game ">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="games-cards">
            {% for t in  tournaments %}
                <div class="game-card {{ t.slug }} mr-4 mb-5">
                    <style>
                        .{{ t.slug }} {
                            background: url("{% if t.img %}{{ t.img.url }}{% else %}{% static 'img/games_foto/default.png' %}{% endif %}") center 0;
                            background-size: cover;
                        }
                    </style>
                    <div class="game-card-title">
                        <a href="{% url 'tournament-detail' slug=t.slug %}">{{ t.name }}</a>
                    </div>
                    <div class="game-card-desc">
                        <div class="game-card-type">
                            {{ t.game.name }} {{ t.game_format.name }}
                        </div>
                        <div class="game-card-date">
                            {{ t.start_time }} {{ t.start_date|date:"M d, Y" }}
                        </div>
                    </div>
                </div>
                {% empty %}
                No results found.
            {% endfor %}
        </div>

    </main>
{% endblock %}