{% extends "base.html" %}
{% load static %}
{% block  head %}
    <link rel="stylesheet" href="{% static "css/tournaments.css" %}">
    <link rel="stylesheet" href="{% static "css/pubg-main.css" %}">
    <link rel="stylesheet" href="{% static "css/tabs.css" %}">
    <link rel="stylesheet" href="{% static "css/slide-pages.css" %}">
    <style>
        .new-games-block {
            margin-left: 0;
            margin-right: 0;
            align-items: center;
        }

        .cards {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            padding-top: 1%;
        }

        .game-name {
            text-align: center;
            margin-left: 0;
            margin-bottom: 50%;
        }

        .player-name {
            text-align: center;
            margin-bottom: 0;
        }

        .new-games-block-button {
            margin: 0;
            margin-left: 50%;
        }

        .cards {
            background: black;
        }

    </style>
{% endblock %}
{% block title %}Create tournament new{% endblock %}
{% block content %}

    <div class="justify-content-end btn-position ">
        <form action="{% url 'index' %}">
            <button type="submit" class="btn btn-primary main-inputs-btn ">Main</button>
        </form>
    </div>
    <main class="main-tour ">
        <div class="row main-header text-right">
            <div class="col">
                <span>T</span>eams Lists
            </div>
        </div>
        <div class="justify-content-end tour">
            <form action="{% url 'create-team' %}">
                <button type="submit" class="btn btn-primary main-inputs-btn main-inputs-button">Create Team</button>
            </form>


        </div>
        <div>
            {% for team in  teams %}
                <div class="new-games-block">
                    <div class="cards{% if team.img %} {{ team.slug }}{% endif %}">
                        {% if team.img %}
                            <style>
                                .{{ team.slug }} {
                                    background: url("{{ team.img.url }}") center 0;
                                    background-size: cover;
                                }
                            </style>
                        {% endif %}
                        <p class="group-name">{{ team.name }}</p>
                        <p class="game-name">{{ team.game.name }}</p>
                        <p class="player-name">{{ team.owner.username }}</p>
                    </div>
                    <div class="new-games-block-button">
                        <form action="{{ team.get_absolute_url }}">
                            <button type="submit" class=" main-inputs-btn btn-primary">Details</button>
                        </form>

                        <br>
                        {% if team.owner == user %}
                            <form action="{{ team.get_delete_url }}">
                                <button type="submit" class=" main-inputs-btn btn-primary">Delete</button>
                            </form>
                        {% endif %}

                    </div>
                </div>
                {% empty %}<h1>No teams created.</h1>
            {% endfor %}
        </div>
    </main>

{% endblock %}