{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block head %}
	<style>
		.main-inputs-btn {
			margin-left: 1rem;
		}
	</style>
{% endblock %}
{% block content %}
  <main class="main">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="row main-header text-right">
						<div class="col">
							<span>R</span>estore <br> of your <span> password </span>
						</div>
					</div>
					
				</div>
			</div>
			<div class="row main-inputs justify-content-center">
				<form>
						<input type="text" class="main-input main-input-mini info-input" placeholder="Email">			 
						<button type="submit" class="btn btn-primary main-inputs-btn">Restore</button>
				</form>
			</div>
		</div>
	</main>
{% endblock %}