{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block  head %}
    <link rel="stylesheet" href="{% static "css/tournaments.css" %}">
    <link rel="stylesheet" href="{% static "css/games-cards.css" %}">
    <style>
        .games-menu-cards {
            padding-left: 0;
            padding-right: 0;
        }

        .game-menu {
            justify-content: space-between;
        }

        .game-add {
            background-image: radial-gradient(#c60000, #000000);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center
        }

        .orginize {
            margin-bottom: 10%;
            margin-right: 25px;
            color: white;
            /* background: transparent;*/
            border: none;
            font-size: 20px;
        }

    </style>
{% endblock %}
{% block content %}


    <div class="btn-position">
        <form action="{% url 'logout' %}">
            <button type="submit" class="main-inputs-btn ">Log Out</button>
        </form>

    </div>
    <main class="main-tour">
        <div class="justify-content-end btns-pos">
            <form action="{% url 'search' %}">
                <button type="submit" class="main-inputs-btn btn-search ">
                    <img class="btn-user" src="{% static "img/search.png" %}" alt="">
                </button>
            </form>

            <form action="{% url 'team-list' %}">
                <button type="submit" class="main-inputs-btn btn-search">View Teams</button>
            </form>


            <form action="{% url 'profile' %}">
                <button type="submit" class="main-inputs-btn btn-search">
                    <img class="btn-user" src="{% static "img/user.png" %}" alt="">
                </button>
            </form>

        </div>
        <div class="game-menu">
            <p>Tournament</p>
            {#		<ul class="game-type">#}
            {#			<li class="game-name">CS:GO</li>#}
            {#			<li class="game-name">Dota2</li>#}
            {#			<li class="game-name">PugbMobile</li>#}
            {#			<li class="game-name">All</li>#}
            {#		</ul>#}

        </div>

        <div class="games-cards">

            <form action="{% url 'create-tournament' %}">
                <button class="orginize game-card game-card-0 game-add">
                    <div class="post icon-pos">
                        <img src="{% static "img/plus.png" %}" width="30px" height="30px" alt=""><br><br> Organize
                        tournament
                    </div>
                </button>
            </form>

            {% for t in tournaments %}
                <div class="game-card {{ t.slug }} mr-4 mb-5">
                    <style>
                        .{{ t.slug }} {
                            background: url("{% if t.img %}{{ t.img.url }}{% else %}{% static 'img/games_foto/default.png' %}{% endif %}") center 0;
                            background-size: cover;
                        }
                    </style>
                    <div class="game-card-title">
                        <a href="{% url 'tournament-detail' slug=t.slug %}">{{ t.name }}</a>
                    </div>
                    <div class="game-card-desc">
                        <div class="game-card-type">
                            {{ t.game.name }} {{ t.game_format.name }}
                        </div>
                        <div class="game-card-date">
                            {{ t.start_time }} {{ t.start_date|date:"M d, Y" }}
                        </div>
                    </div>
                </div>
            {% empty %}
                <h>No tournaments created.</h>
            {% endfor %}
        </div>

    </main>


{% endblock %}