{% extends "base.html" %}
{% load static %}
{% block  head %}
  <link rel="stylesheet" href="{% static "css/tournaments.css" %}">
	<link rel="stylesheet" href="{% static "css/pubg-main.css" %}">
	<link rel="stylesheet" href="{% static "css/tabs.css" %}">
	<link rel="stylesheet" href="{% static "css/slide-pages.css" %}">
	<style>
		#London{
			display: block;
		}
		body {
			background: url("../../static/img/bg.jpg") center top repeat;
		}
	</style>
{% endblock %}
{% block title %}Create tournament new{% endblock %}
{% block content %}

	<main class="main">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="row main-header text-right">
						<div class="col">
							<span>O</span>rganize Tournament
						</div>
					</div>
					<div>
						<div class="tab row main-links justify-content-center align-items-center ">
							<button class="tablinks active" onclick="openCity(event, 'London')">Main</button>
							<button class="tablinks " onclick="openCity(event, 'Tokyo')">Info</button>
							
						</div>
						<div id="London" class="tabcontent">
							<div class="row main-inputs justify-content-center">
								<form>
									<div class="form-group">
										<input type="text" class="main-input" placeholder="Tournament name">
									</div>
									<div class="form-group">
										<select class="main-select" size="1">
											<option class="main-option" disabled selected>Choose a game ...</option>
											<option>PUBG Mobile</option>
											<option>CS:GO</option>
											<option>DOTA 2</option>
										</select>
										</div>
										<div class="form-group">
										<select class="main-select" size="1">
											<option class="main-option" disabled selected>Tournament format ...</option>
											<option>Solo (1x1)</option>
											<option>Duo (2x2)</option>
											<option>DSquad (4x4, 5x5)</option>
										</select>
										</div>
										<div class="form-group d-flex">
										<input class="main-select main-static" placeholder="Participants limit">
										<button class="main-btn main-btn-active">
											Limited
										</button>
										<button class="main-btn">
											Unlimited
										</button>
										</div>
										<div class="form-group d-flex justify-content-between">
										<div>
											<input type="text" class="main-input main-input-mini" placeholder="Start Date (DD/MM/YYYY)">
											<small class="form-text text-muted">Date displayed in UTC <span>+05:00</span></small>
										</div>
										<div>
											<input type="text" class="main-input main-input-mini" placeholder="Start Time">
											<small class="form-text text-muted">Time displayed in UTC <span>+05:00</span></small>
										</div>
										</div>
										<h1 class="main-inputs-header">Optional Fields</h1>
										<div class="form-group">
										<input type="text" class="main-input" placeholder="Description">
										</div>
										<div class="main-inputs-file">
										<input type="file" class="form-control-file">
										</div>
										<div class="d-flex justify-content-end">
											<button type="submit" class="btn btn-primary main-inputs-btn">Next</button>
										</div>
									</form>
							</div>
					
						</div>
						<div id="Tokyo" class="tabcontent">
							<div class="row main-inputs justify-content-center">
								<form>
									<div class="form-group d-flex justify-content-between">
										<select class="main-select info-select" size="1">
											<option class="main-option" disabled selected>Communication tool</option>
											<option>Telegram</option>
											<option>Discord</option>
											<option>Team Speak</option>
										</select>
										<input type="text" class="main-input main-input-mini info-input"
											placeholder="Enter tour username or link">
									</div>
									<div class="form-group main-select d-flex align-items-center info-click">
									</div>
									<div class="form-group main-select d-flex align-items-center info-click">
										<div class="info-text">
											Rules
										</div>
									</div>
									<div class="form-group main-select d-flex align-items-center info-click">
										<div class="info-text">
											Prizes
										</div>
									</div>
									<div class="form-group main-select d-flex align-items-center info-click">
										<div class="info-text">
											Schedule
										</div>
									</div>
									<div class="d-flex justify-content-center">
										<button type="submit" class="btn btn-primary main-inputs-btn">Finish</button>
									</div>
								</form>
							</div>
						</div>
						
						
					
						
					</div>
				</div>
			</div>
		
		</div>
	</main>

	
{% endblock %}